<div class="container" >
    <h2 class='mt-5 py-3 text-center'><b>Log In to access </b></h2>
    <div class='row d-flex justify-content-center'>
        <div class='col w-100 '>
        <form class='w-100 row d-flex flex-column align-items-center' action="" method="POST">
                <div class="col col-md-7 col-lg-5 my-3 d-flex flex-column align-items-stretch ">

                    <label class='w-100' ><b>Email</b>
                    <input type='email'  class='w-100 border py-2 px-2 rounded border-dark' id="email"  required placeholder="abc@example.com"/>
                    </label>
                    
                </div>
                
                <div class="col col-md-7 col-lg-5 my-3 d-flex flex-column align-items-stretch ">

                    <label class='w-adjust' ><b>Password</b>
                    <input type='password' class='w-100 border py-2 px-2 rounded border-dark' id="pwd"  required/>
                    </label>
                    
                </div>
                <div class='w-100 d-flex justify-content-center' >
                    <button type="submit"  class='bg-danger rounded-pill border my-3 m-auto googlepill text-light'>
                        Log In
                    </button>
                </div>
                
            </form>
        </div>
    </div>
    
    <div class='row w-100 '>
        <div class='col d-flex flex-column align-items-center justify-content-center'>
        <div id="option-line" class="my-3 d-flex justify-content-center align-items-center">
            <div class='mx-1 line'></div>
            <div>or</div>
            <div class='mx-1 line'></div>
        </div>
        <div class='w-100 d-flex justify-content-center' >
            <button type="submit"  class='bg-primary rounded-pill border my-3 m-auto googlepill text-light d-flex justify-content-center align-items-center'>
                <div>Continue with</div> <div class="icon mx-2"></div>
            </button>
        </div>
        </div>
    </div>
    
</div>
